<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{object.title}}</title>
    {% load hashtag %}
</head>
{% include 'nav.html' %}
<div class="container px-0">
    <div class="d-flex justify-content-center h-100">
        <div class="content_box px-5 py-3">
            <div class="form-box">
                <h3>{{object.title}}</h3>
                <div>
                    <span><a>{{object.writer}}</a> | {{object.date}} | 추천 : {{object.likesCnt}}</span>
                    <hr>
                    <p>
                        {{object|add_link|safe}}
                    </p>
                    <hr>
                    <button class="btn btn-warning"><a style="color: white;" href="{% url 'update' object.id %}"> 수정하기</a></button>
                    <button class="btn btn-danger"><a style="color: white;" href="{% url 'delete' object.id %}">삭제하기</a> </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>