<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>글 작성</title>
</head>
{% include 'nav.html' %}
<div class="container px-0">
    <div class="d-flex justify-content-center h-100">
        <div class="content_box px-5 py-3">
            <div class="form-box">
            <form method="POST">
                {% csrf_token %}
                <p>
                    <label for="id_title">제목 : </label>
                    <input type="text" name="title" maxlength="100" required="" id="id_title">
                </p>
                <p>
                    <label for="id_content">내용 : </label>
                    <textarea name="content" cols="40" rows="15" required="" id="id_content"></textarea>
                </p>
                <p>
                    <label for="id_music">Music:</label>
                    <input type="text" name="music" required="" id="id_music"></input>
                </p>
                <button type="submit" class="btn btn-primary">글 작성</button>
            </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>