{% include 'default.html' %}
<nav class="navbar navbar-expand-xl w-100 my-2 navbar-black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Music of Today</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    게시판
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    서비스 소개
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    로그인
                </a>
            </li>
        </ul>
    </div>
</nav>
<hr class="my-0" color="gray">